p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #1E2827;
    margin: 0;
}

.container {
    /*width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 16px;*/
    margin: 0 auto;
}

.footer {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 320px;
    height: 434px;
}



/*  СОЦ.МЕРЕЖІ */

.footer-item {
    margin-top: 40px;
}

/*.footer-logo::before {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url();
}*/

.footer-list {
    font-size: 14px;
    line-height: 1.28;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-list:last-child {
    margin-bottom: 40px;
    max-width: 141px;
}

.link-phone {
    font-size: 14px;
    line-height: 1.28;
    color: #FFFFFF;
}

.icon-item {
    display: flex;
    gap: 14px;
    margin-bottom: 80px;
}

.icon-list {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.icon-soc {}

.footer-soc-icon {
    position: absolute;
    margin: 8px;
    fill: #EFEFEF;
}

.footer-container {
}




/*  ЛІНКИ */

.footer-wrap {
    display: flex;
}

.footer-link-item {
    /*display: flex;
    width: 63px;
    flex-wrap: wrap;*/
    display: flex;
    gap: 14px;
    align-items: baseline;
    flex-direction: column;
}

.footer-link-list {

}

.footer-link {
    font-size: 14px;
    color: #FFFFFF;
}



/* ДОД.ІНФОРМЦІЯ */

.footer-text {
    color: #C6CDD1;
    opacity: 0.9;
    font-size: 12px;
    line-height: 1.16;
}

.polit-item {
    display: flex;
    gap: 14px;
}

.text {
    margin-top: 14px;
    color: #C6CDD1;
    opacity: 0.9;
    font-size: 12px;
    line-height: 1.16;
}

