p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #1E2827;
    margin: 0;
}

.container {
    width: 100%;
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding: 0 16px;
    margin: 0 auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 320px;
    height: 434px;
}



/*  СОЦ.МЕРЕЖІ */

.footer-contact {
    display: flex;
}

.footer-menu {
    margin: 0;
}

.footer-contact-item {
    margin-top: 40px;
}

/*.footer-contact-logo::before {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url();
}*/


.footer-map {
    font-size: 14px;
    line-height: 1.28;
    color: #FFFFFF;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    /*margin-bottom: 40px;*/
    max-width: 141px;
}

.footer-link-phone {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #FFFFFF;
    display: flex;
    gap: 40px 20px;
}

.footer-menu-item {
    display: flex;
    gap: 14px;
    margin-bottom: 80px;
}

.footer-menu-list {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.footer-icon {
    position: absolute;
    margin: 8px;
    fill: #EFEFEF;
}



.media-contact {
    display: flex;
    gap: 110px;
}




/*  ЛІНКИ */

.footer-media-item {
    display: flex;
    gap: 14px;
    align-items: baseline;
    flex-direction: column;
}


.footer-media-link {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}



/* ДОД.ІНФОРМЦІЯ */

.rules-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #C6CDD1;
    opacity: 0.9;
}

.rules-item {
    display: flex;
    gap: 14px;
}

.footer-rules-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-align: right;
    letter-spacing: -0.02em;
    margin-top: 14px;
    color: #C6CDD1;
    opacity: 0.9;
}

